body{
    font-family: 'Are You Serio', cursive;
    background-color: rgb(141, 122, 252);
}

h2{
    color:rgb(72, 228, 189);
    background-color:black;
    text-align: center;
    line-height: 1.5;
}

p{
    font-size: large;
    font-weight: bold;
    text-align: center;
}

